<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Benutzer</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Alter</th>
            <th>E-Mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let user of users">
        <tr>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-primary" routerLink="/user/view/{{user._id}}">Ansehen</button> <button class="btn" routerLink="/user/edit/{{user._id}}">Bearbeiten</button> <button class="btn btn-danger" (click)="delete(user)">Löschen</button></td>
        </tr>
        </tbody>
    </table>
</div>