<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><span class="table-header">Benutzer</span>
    <button class="btn btn-primary btn-table" type="button" routerLink="/user/add">Hinzufügen</button>
  </div>
</div>

<!-- Table -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Alter</th>
    <th>E-Mail</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.age}}</td>
    <td>{{user.email}}</td>
    <td style="text-align: right">
      <button class="btn btn-sm btn-default" routerLink="/user/view/{{user._id}}">Ansehen</button>
      <button class="btn btn-sm btn-default" routerLink="/user/edit/{{user._id}}">Bearbeiten</button>
      <button class="btn btn-sm btn-danger" (click)="delete(user)">Löschen</button>
    </td>
  </tr>
  </tbody>
</table>