:host {
  position: fixed;
  top: 80px;
  right: 80px;
}

.board-message {
  padding: 20px;
  margin-bottom: 20px;
  background-color: gray;
  &.error {
    background-color: lightcoral;
  }
  &.warning {
    background-color: lightyellow;
  }
  &.success {
    background-color: lightgreen;
  }
}