<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><span class="table-header">Tickets</span>
    <ticket-search-ticket (ticketChanged)="tickets = $event"></ticket-search-ticket>
    <button class="btn btn-primary btn-table" type="button" routerLink="/add">Hinzufügen</button>
  </div>
</div>

<!-- Table -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>Titel</th>
    <th>Text</th>
    <th>Dringend</th>
    <th>Typ</th>
    <th>Datum</th>
    <th>Benutzer</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ticket of tickets">
    <td>{{ticket.subject}}</td>
    <td>{{ticket.body}}</td>
    <td><span class="cr"><i class="{{ticket.urgent ? 'cr-icon glyphicon glyphicon-ok' : ''}}"></i></span></td>
    <td>{{ticket.type}}</td>
    <td>{{ticket.created | date: "dd.MM.yyyy HH:mm:ss"}}</td>
    <td>{{ticket.owner?.firstname}} {{ticket.owner?.lastname}}</td>
    <td style="text-align: right">
      <button class="btn btn-sm btn-default" routerLink="/view/{{ticket._id}}">Ansehen</button>
      <button class="btn btn-sm btn-default" routerLink="/edit/{{ticket._id}}">Bearbeiten</button>
      <button class="btn btn-sm btn-danger" (click)="delete(ticket)">Löschen</button>
    </td>
  </tr>
  </tbody>
</table>
